/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/static/dev
/static/development
/static/release
/logs
properties.edn
*.swp

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
.terraform/

*.orig

# nginx
/nginx/access.log

figwheel_server.log
